{% extends 'app/base.html' %}
{% block header %}
<h1 class="cappers_h1">Cappers rating</h1>
{% endblock %}

{% block content %}
<div class="wrapper_container">
<table class="table table-bordered table-sm capper-table" style="text-align:center">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">On oddsportal</th>
      <th scope="col">User</th>
      <th scope="col">Bank</th>
      <th scope="col">Profit for month, %</th>
      <th scope="col">Statictic</th>
    </tr>
  </thead>
  <tbody>
  {% for object in object_list %}
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td>{{ object.link }}</td>
        <td>{% if object.user %}<a href="{% url 'profile_detail' object.user.pk %}">{{ object.user }}</a>{% else %}-{% endif %}</td>
      <td>{{ object.bank }}</td>
      <td>{{ object.profit_for_month }}%</td>
      <td><span style="color: green">{{ object.won }}</span>/<span style="color: red">{{ object.lose }}</span></td>
    </tr>
  {% endfor %}
  </tbody>
</table>
</div>

{% endblock %}